@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
}

body {
  background: whitesmoke;
}

nav {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heroSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/surface-coCGW4SsxX4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}



nav .nav-link-wrapper {
  display: flex;
  align-items: center;
}

nav .nav-link-wrapper li {
  list-style: none;
  margin: 0 10px;
}

nav .nav-link-wrapper li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  padding: 5px 20px 10px;
  margin-left: 5px;
 
}

nav .logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-top: 10px;
}


html {
  scroll-behavior: smooth;
}




/* End of hero section */

.overallContainer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.firstCard {
  width: 100%;
  border-radius: 15px;
  padding: 20px 50px;
  margin-top: -100px;
  position: relative;
  background: rgba(255, 255, 255);
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  height: 220px;
}

img {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.firstCardcontainerTitle {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
}

.firstCardParagraph {
  color: rgba(140, 140, 140);
  margin-bottom: 20px;
}

.firstCardButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backProjectBtn {
  padding: 18px 45px;
  background-color: rgba(57, 181, 171);
  border-radius: 30px;
  color: white;
  font-weight: 400;
}

.backProjectBtn a{
    text-decoration: none;
    color: white;

}


.ribon {
  padding: 20px;
  background-color: rgba(47, 47, 47);
  border-radius: 50%;
}

.ribbonBookmark {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(245, 245, 245);
  color: rgb(134, 134, 134);
  font-weight: 700;
  border-radius: 28px;
  padding-right: 30px;
}

.secondCard {
  width: 100%;
  background-color: #ffff;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 30px 40px 30px 0px;
  height: 180px;
}

.metrics {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-start  */
}

.fig {
  font-size: 30px;
  color: black;
  font-weight: 700;
}



.figText {
  display: block;
  color: rgb(140, 140, 140);
}

.metrics .forEach {
  border-right: 1px soild red;
}

.progressBar {
  margin-top: 30px;
  padding-left: 70px;
  display: flex;
}

.stack-progress {
  width: 100%;
}

/* FOR CHROME */
.stack-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 100px;
  width: 100%;
}

.stack-progress::-webkit-progress-value {
  background-color: rgb(60, 180, 171);
  border-radius: 100px;
}

/* FOR FIREFOX */
.stack-progress::-moz-progress-bar {
  background-color: #eee;
  border-radius: 100px;
}

/* FOR INTERNET EXPLORER */

.stack-progress {
  color: rgb(60, 180, 171);
  border-radius: 100px;
}

.thirdCard {
  width: 100%;
  background-color: #ffff;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 30px 50px 30px 50px;
}

.aboutTitle{
    margin-bottom: 40px;
}

.aboutparagraph{
    text-align: justify;
    line-height: 2rem;
    color: rgb(140, 140, 140);
}

.aboutparagraph2{
    text-align: justify;
    line-height: 2rem;
    color: rgb(140, 140, 140);
    margin-top: 30px;
    margin-bottom: 20px;
}

.thirdCardInfoCards{
    border: 1px solid rgb(60, 180, 171);
    border-radius: 8px;
    padding: 20px 30px;
    margin-bottom: 25px;
}

.thirdCardInfoCardsTitlepledge{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.innerTitle{
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.pledges{
    color: rgb(60, 180, 171);
}

.thirdCardInfoCardsparagraph{
    color: rgb(140, 140, 140);
}

.amountLeftReward{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.amountleft{
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.Left{
    font-size: 15px;
    color: rgb(60, 180, 171);
    font-weight: 400;
}

.rewardDelete{
  display: flex;
  align-items: center;
  gap: 20px;
}

.deleteButton:hover{
  cursor: pointer;
}

.reward{
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    background-color: rgb(60, 180, 171);
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}

#outOfStock{
    background-color: grey;
}

.forAddingNewCard{
    display: flex;
    align-items: center;
    padding: 20px;
}

.inputField{
    padding: 15px;
    width: 70%;
}

.addBtn{
    width: 30%;
    text-align: center;
    background-color: rgb(60, 180, 171);
    padding: 15px;
    cursor: pointer;
}

.addBtn:hover{
    background-color: grey;
    color: #ffff;
}


@media (max-width: 800px) {
  nav {
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  nav .nav-link-wrapper {
    display: flex;
    align-items: center;
  }
  
  nav .nav-link-wrapper li {
    list-style: none;
    margin-top: 5px;
  }
  
  nav .nav-link-wrapper li a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-weight: 200;
    padding: 5px;
  }
  
  nav .logo {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    margin-top: 10px;
  }

  .firstCard {
    width: 100%;
    border-radius: 15px;
    padding: 20px 50px;
    margin-top: 100px;
    position: relative;
    background: rgba(255, 255, 255);
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    height: 500px;
  }

  .firstCardButtons {
    display: block;
  }

  .backProjectBtn {
    padding: 10px;
    background-color: rgba(57, 181, 171);
    border-radius: 8px;
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .ribon {
    padding: 10px;
    background-color: rgba(47, 47, 47);
    border-radius: 50%;
  }

  .secondCard {
    width: 100%;
    text-align: center;
    background-color: #ffff;
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 50px;
    height: 350px;
  }
  
  .metrics {
    display: block;
  }

  .progressBar {
    margin-top: 30px;
    padding-left: 20px;
    display: flex;
  }

  .forAddingNewCard{
    display: flex;
    align-items: center;
    padding: 15px;
}
  
.addBtn{
  font-size: 12px;
  width: 30%;
  text-align: center;
  background-color: rgb(60, 180, 171);
  padding: 15px;
  cursor: pointer;
  padding: 8px 5px 8px 5px;
}

.reward{
  font-size: 12px;
  padding: 5px 8px 5px 8px;
  color: white;
  border-radius: 10px;
  background-color: rgb(60, 180, 171);
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

}

